/* navbar section */
.navbar {
    font-size: 25px;
    width: 10% !important;
    height: auto;
    border: 1px solid #000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 0 !important;
}

.list {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.list li {
    padding: 1rem 0;
    border-bottom: 1px solid #000;
    text-align: center;
}

/* unvisited link */
.list a {
    text-transform: capitalize;
    text-decoration-line: none;
    color: #000;
}

/* visited link */
.list a:visited {
    color: #3b8cfd;
}

/* mouse over link */
.list a:hover {
    color: #82b1f3;
}

/* Responsive layout */
@media screen and (max-width: 800px) {

    .navbar {
        width: 100% !important;
        border: none;
        height: auto;
        margin-top: 0;
    }

    .list li {
        border-right: 1px solid #000;
        border-left: 1px solid #000;
    }

}