.loadinImg {
    width: 90% !important;
    border: 1px solid #000;
    border-top: none;
    border-left: none;
    margin-top: 0;
}

.spinner {
    width: 10%;
    height: auto;
    padding: 13rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: main 3s;
}

@keyframes main {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Responsive layout */
@media screen and (max-width: 800px) {

    .loadinImg {
        width: 100% !important;
        border: 1px solid #000;
        border-top: none;
        margin-top: 0;
    }

}